<footer class="bg-black mt-10 w-full py-3">
    <nav>
    <ul class="flex justify-between mx-10">
      <li class=""><a class="hover:font-bold text-2xl m-auto text-red-500" href="/">INCB</a></li>
    </ul>
  </nav>
</footer>