<header class="py-4 bg-black text-white">
  <nav>
    <ul class="flex justify-between mx-10 text-xl leading-loose">
      <li class="">
        <a class="font-bold text-4xl m-auto text-red-500 hover:bg-gray-700 px-2 rounded-md" href="/"
          >INCB</a
        >
      </li>
      <div class="text-center">
        <input
          class="rounded-2xl border-2 xl:w-[30vw] md:w-[60vw] search text-black text-xl"
          type="search"
          placeholder="Search for title..."
        />
      </div>
      <li class="flex">
      </li>
    </ul>
  </nav>
</header>
<script>
  const searchBar = document.querySelector('input.search');

  searchBar.addEventListener('keydown', (e) =>
    e.key === 'Enter'
      ? (window.location.href = `/search/?title=${searchBar.value}`)
      : null
  );
</script>
