<header class="py-2 bg-black text-white">
  <nav>
    <ul class="flex justify-between mx-10">
      <li class=""><a class="hover:font-bold text-2xl m-auto text-red-500" href="/">INCB</a></li>
      <li class="leading-loose">
        <a class="hover:font-bold ml-3" href="/all">All</a>
        <a class="hover:font-bold ml-3" href="/genres">Genres</a>
        <a class="hover:font-bold ml-3" href="/popular">Popular</a>
      </li>
    </ul>
  </nav>
</header>